body {
  background:#F1F1F1;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  
}

#main_title {
  position: absolute;
  height: 100px;
  top:60px;
left:60px;
}

#explain {
  position: absolute;
  top: 190px;
  left: 60px;
  font-family: "rixsingose-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 23px;
  line-height: 150%;
}


.options {
  position: absolute;
  left: 60px;             /* 위 텍스트랑 같은 왼쪽 마진 */
  right: 60px;            /* 오른쪽도 여백 주기 */
  bottom: 60px;

  display: flex;
  justify-content: space-between;  /* 세 개를 폭에 맞게 쫙 벌리기 */
  align-items: flex-start;
}

/* 카드 크기 통일하고 싶으면 */
.options img {
  display: block;
  width: 500px;   /* Figma 카드 폭 비슷하게 */
  height: auto;
}


.before{
    position: absolute;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back{
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}

.explain {
  position: absolute;
  top: 60px;
    left: 50%;  
        transform: translate(-50%, -50%);
        font-family: "rixsingose-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #000000;
}

.trymore{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}








#game_container {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1600px;       /* 필요에 따라 조절 */
  /* height는 자동으로 하도록 두자 */
  display: flex;
  flex-direction: column;
  gap: 0px;          /* 줄 사이 간격 */
}

/* 세 줄 공통 스타일 */
.first_line,
.second_line,
.third_line {
  display: flex;
  align-items: flex-end;
  justify-content: center;   /* 베이스라인 느낌 */
}

.word {
  display: block;
  margin-left: -1px;
  margin-top: -1px 
}
.first_line .word:first-child,
.second_line .word:first-child,
.third_line .word:first-child {
  margin-left: 0;
}


.listen {
  position: absolute;
  bottom: 50px;
  right: 60px; /* 원하는 위치 */
  cursor: pointer;
}

